@{
   Layout=null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login V12</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />

</head>
<script>

  function Validate() {

    $.ajax(
    {
      type: "POST",
      url: '@Url.Action("Validate", "User")',
      data: {
        email: $('#Name').val(),
        password: $('#Password').val()
        phoneNumber: $('#PhoneNumber').val()
      },
      error: function (result) {
        alert("There is a Problem, Try Again!");
      },
      success: function (result) {
        console.log(result);
        if (result.status == true) {
          window.location.href = '@Url.Action("Index", "Home")';
        }
        else {
          alert(result.message);
        }
      }

    });
  }

</script>
<body>
  
 <div id="bg"></div>

<form>
    <h1>Welcome to Repair Firm</h1>
  <div class="form-field">
    <input type="email" placeholder="Email / Username" required/>
  </div>
  
  <div class="form-field">
    <input type="password" placeholder="Password" required/>                         </div>
  
  <div class="form-field">
    <button class="btn" type="submit">Log in</button>
  </div>
</form>
  

</body>
</html>